body{
  font-family: "Poppins", sans-serif;

}
.main{
  padding: 6rem 8rem 0 8rem;

}

/* ----------------------------------------------------------------------------------------------- */
/* header css start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-left: 8rem;
  padding-right: 8rem;
  z-index: 66;
}

header ul {
  display: flex;
  list-style: none;

}
header ul li {
  padding-left: 2rem;
  font-size: 20px;
  font-family: "poppins";
  font-weight: 500;
}
header ul li:hover {
  cursor: pointer;
  color: #9562ff;
  padding-left: 2rem;
  font-size: 20px;
  font-family: "poppins";
  font-weight: 500;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}
.icons i {
  color: #9562ff;
  font-size: 26px;
  margin-left: 2rem;
  font-weight: 600;
}
.logo{
  height:90px; 
  width:100px;
}
/* hader css end */

/* ----------------------------------------------------------------------------------------------- */

/* banner start */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #EDE4FF;
    padding-left: 40px;
    margin-top: 1rem;
    border-radius: 2rem;
    height: 30rem;
}

.photo .desktop{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 2rem;
}
.photo .butterfly{
    position: absolute;
    z-index: 3;
    height: 16rem;
    margin-top: -23rem;
    margin-left: 6rem;
}

.main-text .first{
    font-size: 4rem;
    font-weight: 600;
    font-family: "poppins";
    margin: 4rem 0 -2rem 5rem;
}
.main-text .second{
    font-size: 5rem;
    font-weight: 700;
    font-family: "poppins";
    margin: 0 0 0 5rem;
    color: #FF833D;
}

/* search */
.search{
background-color: white;
margin: 0 0 0 5rem;
height: 3rem;
width: 22rem;
display: flex;
align-items: center;
border-radius: 4rem;
}

.search i{
  margin-left: 18px;
  padding-right: 1rem;
  color: #FF833D;
  font-size: 1.4rem;
}

.search input{
  border: none;
  outline: none;
  height: 100%;
  width: 80%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.categories h1{
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.categories-card{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 230px;
  height: 260px;
  background-color:#ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px .6em  rgb(233, 233, 233), -0.7em 0 .6em rgb(233, 233, 233);
}
.d img{
  height: 120px;
  width: 120px;
}
.d p{
  font-size: 20px;
  font-family: "Poppins", sans-serif;
font-weight: 600;
margin-left: 1.8rem;
margin-top: 0.8rem;
}

.multiple{
  height: 21rem;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.multiple .firstone{
  width: 49%;
  background-color: #EDE4FF;
  border-radius: 20px;
  display: flex;
  align-items: center;

}
.desk-img{
  margin: 1rem 0 0 1rem;
  height: 24rem;
  width: 22rem;
}

.detail{
  margin: 1rem 0 0 4.4rem;
  width: 50%;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;

}
.detail .p1{
  font-weight: 700;
  margin-bottom: -0.2rem;
  margin-left: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.detail .btn .button{
  margin-left: 2rem;
  background-color: #FF833D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* Product strat -------------------------------------------------------------------------- */
.product-name{
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-name .prod-1{
  font-size: 36px;
  font-weight: 700;

}
.product-name .pro2{
  font-size: 20px;
  font-weight: 500;

}

.product{
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  flex-wrap: wrap;
 
}
.product-list{
  background-color: #ffffff;
  height: 27rem;
  width: 330px;
  box-shadow: 3px 3px .6em  rgb(233, 233, 233), -0.7em 0 .6em rgb(233, 233, 233);
  border-radius: 20px;
  margin-bottom: 2rem;
  /* margin-right: 1.5rem; */


}
.product-list img{
  width: 100%;
  height: 22rem;
  margin: -3rem 0 0 1.5rem;
}
.product-list .p1{
  font-weight: 700;
  margin: -3rem 0 0 2rem;
  font-family: "Poppins", sans-serif;
}
.product-list .p3{
  margin: 0rem 0 0 2rem;
  font-family: "Poppins", sans-serif;
}

.product-list .p2{
  font-size: 24px;
  font-weight: 700;
  margin-top: 0.3rem;
  color: #FF833D;
  font-family: "Poppins", sans-serif;
}
.product-btn .button{     /*Add to cart*/
  width: 80%;
  border: none;
  padding: 15px;
  margin: 1.2rem 0 0 2rem;
background-color: #FF833D;
border-radius: 10px;
font-size: 20px;
color: white;
font-weight: 600;

}
.product-list .quantity{
  display: flex;
  margin-left: 2rem;
  margin-top: 8px;
}

.quantity .plus {
  height: 3rem;
  width: 3rem;
  border: 2px solid #B4B4B4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity .one {
  height: 3rem;
  width: 3.3rem;
  border: 2px solid #B4B4B4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;

}
.quantity .minus {
  height: 3rem;
  width: 3rem;
  border: 2px solid #B4B4B4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;

}

/* Product end----------------------------------------------------------------------------------------------------- */

.second-buttom{
  width: 100%;
  height: 60vh;
  background-color: #EDE4FF;
  margin-top:5rem;
 }
 .content{
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;

 }
 .but-img{
  height: 20rem;
  margin-top: 8rem;
 }
 .second-text{
  /* height: 20%; */
  width: 50%;
  margin-top: 9rem;

  /* display: flex; */
  /* justify-content: center; */
 }
 .second-text p{
  font-size: 42px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  display: inline;
}

.up{
  margin-left: 8rem;
}
.check{
  margin-left: 12rem;
}
.orange{
 color: #FF833D;
}
.second-text .hurry{
  font-size: 22px;
  font-weight: 500;
  margin-left: 17rem;
  margin-top: 15.8rem;
}

.second-text .button{
  margin-left: 15.2rem;
  margin-top: 1rem;
  background-color: #FF833D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

footer{
margin-top: 2rem;
height: 20rem;
background-color: #d6c5f9;  
padding-left: 8rem;
padding-right: 8rem;

}
.footers{
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  font-family: "Poppins", sans-serif;
}
footer img{

  height:100px; 
  width:110px;
}

.foot-web h3{
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.foot-web{
  line-height: 1rem;
  /* font-size: 18px; */
}

footer .end{
  font-size: 20px;
  display: flex;
  font-weight: 600;
  margin-top: 3rem;
  justify-content: center;
  
}