/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Left Side Styles */
.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* white background */
    text-align: center;
}

.form-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px; /* rounded border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px; /* More rounded border */
    padding-left: 20px; /* Added padding */
}

button {
    background-color: #6c0ca5;
    color: #fff;
    cursor: pointer;
    width: 40%;
    margin: 0 auto; /* Center horizontally */
    display: block;
    
}

/* Right Side Styles */
.right-side {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.right-side img {
    position: absolute;
    top: 20%; /* Adjust top position */
    left: 2%;
    width: 60%;
    height: auto;
    z-index: 1;
}

.purple-shapes {
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 300%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.shape {
    width: 200%;
    height: 200%;
    position: absolute;
    z-index: -2;
}

.shape1 {
    background: linear-gradient(to top right, #E2D4FF, #E2D4FF);
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.shape2 {
    background: linear-gradient(to top right,#CDB6FF, #CDB6FF);
    clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
}

.shape3 {
    background: linear-gradient(to top right, #a700e0, #6c0ca5);
    clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
    width: 100%; /* Adjust width to fill the container */
    height: 300px; /* Adjust height as needed */
    position: absolute; /* Position it within the container */
    bottom: 0; /* Align it to the bottom of the container */
    z-index: -2; /* Ensure it's behind other elements */
}
.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1; /* Ensure it's above the input field */
}

#password {
    padding-right: 40px;
    width: calc(100% - 50px);
}

