body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black; /* Add this line for the outer border */
}

.sidebar {
    background-color: #f0f0f0;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0; /* Remove padding */
    border: 1px solid black;
    background-color: white;
    border-top: none; /* Add this line to remove the border from the top */
}


.admin-text {
    font-size: 20px; /* Adjust the font size as needed */
    margin: 0; /* Reset margin to ensure consistent spacing */
    padding: 0; /* Reset padding */
    right: 140px;
    font-family: "poppins-SemiBold", Helvetica; /* Make sure to add quotes around font family names with spaces */
    position: relative;
    top: -25px;
    font-weight: bold; /* Make the text bold */
}



.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 69px;
    height: 60px;
    left: 65px;
    position: relative;
}

.logo p {
    margin-left: 10px;
    font-size: 20px;
    color: black;
    left: 80px;
    position: relative;
    font-family: "poppins-regular", Helvetica;
    font-weight: bold; /* Make the text bold */
}
.add-product-btn {
    position: fixed;
    top: 20%;
    left: 85%;
    height: 32px;
    transform: translate(-50%, -50%);
    background-color: #8830f7;
    font-family: "poppins-regular", Helvetica;
    color: white;
    border: 1px solid #8830f7;
}
.product-title{
    position: fixed;
    top: 130px;
    right: 77%;
    font-family: "poppins-regular", Helvetica;
    font-size: 19px;

}

.icons img {
    width: 40px;
    height: 40px;
    top: 10px;
    position: relative;
    left: -70px;
}




.sidebar ul {
    list-style-type: none;
    padding: 0;
    top: 115px;
    left: 90px;
    position: relative;
}

.sidebar ul li {
    margin-bottom: 20px;
    font-family: "poppins-regular",Helvetica;
}

h3 {
    position:relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    left: 40px;
    top: 540px;
    font-family: "poppins-regular",Helvetica;
    font-size: 17px;
    font-weight: normal;

}

.iconc{
    width: 20px; /* Adjust the width of the icon as needed */
    height: auto;
    position: relative;
    top: 4px;
    margin-left: -114px; /* Add margin to the left of the icon */
}

.iconp{
    width: 20px; /* Adjust the width of the icon as needed */
    height: auto;
    position: relative;
    top: 4px;
    margin-left: -92px; /* Add margin to the left of the icon */
}

.icono{
    width: 20px; /* Adjust the width of the icon as needed */
    height: auto;
    position: relative;
    top: 4px;
    margin-left: -87px; /* Add margin to the left of the icon */
}

.iconm{
    width: 20px; /* Adjust the width of the icon as needed */
    height: auto;
    position: relative;
    top: 4px;
    margin-left: -101px; /* Add margin to the left of the icon */
}

.message-box {
    background-color: #f0f0f0;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 700px;
   left: 255px;
   background-color: white;
   height: 150px;
   top: 20px;
  
}

.message-box__name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 22px;
   position: relative;
   font-family: "poppins-SemiBold", Helvetica;
   left: 60px;
}

.message-box__text {
    color: #333;
    position: relative;
    font-family: "poppins-SemiBold", Helvetica;
   left: 60px;
   top: 19px;
   width: 550px;
   font-size: 13.5px;
}

.message-box_message {
    font-family: "poppins-SemiBold", Helvetica;
    position: relative;
    left: 60px;
    top: 7px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color:black;
}